body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
  /* font-family: 'Poppins', sans-serif; */
}

.intro-div {
  z-index: 1;
  border-bottom: 1px solid rgba(219, 219, 219, 0.589);
}
.fabars {
  font-size: 1.5rem;
  display: none;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  top: 0;
  border-bottom: 2px solid rgba(219, 219, 219, 0.589);
}
.show-links {
  width: 100%;
  height: 17rem;
  background-color: white;
  z-index: 20;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 72px;
  right: 0;
  display: none;
}

.drop-down {
  display: flex;
  flex-direction: column;
}
.drop-down a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  padding: 0.8rem 0.5rem;
  border-bottom: 2px solid rgba(219, 219, 219, 0.589);

}
.drop-down a:hover{
  background-color: rgb(192, 190, 190);
}
.image {
  width: 4rem;
}
.links-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}
.links-ul li a {
  padding: 0.1rem;
  text-decoration: none;
  color: #4d4b4d;
}
.overlay {
  max-width: 50rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
  z-index: 10;
}
.active {
  border-radius: 0.3px;
  color: #2e202c;
  border-bottom: 2.4px solid #f0be35;
}
span {
  font-size: 2rem;
}
.personal-image {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
}
.overlay-excerpt {
  font-size: 1rem;
  width: 500px;
  color: #e6e6fa;
}
.overlay-excerpt h4 {
  margin-bottom: 3rem;
  color: #2e202c;
}
.name h2 {
  margin: 0;
  font-size: 5rem;
  font-weight: 200;
  color: #18202c;
}
.overlay-btn {
  padding: 0.9rem 1.8rem;
  background: none;
  color: #2e202c;
  border-radius: 30px;
  border: 2px solid #2e202c;
  outline: none;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.4s ease;
}
.overlay-btn:hover {
  background-color: rgba(233, 230, 230, 0.658);
}
/* .sliding-images {
  height: 30rem;
  padding: 2rem;
  max-width: 100%;
  display: flex;
  border-bottom: 2px solid rgba(219, 219, 219, 0.589);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;
}
.image-slider {
  display: flex;
  height: 28rem;
  width: 60rem;
  gap: 1.5rem;
  border-radius: 3px;
  animation: 20s slider infinite;
} */

/* .imageslides {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  float: left;
} */
/* .back-icon,
.next-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.back-icon {
  position: absolute;
  bottom: 16rem;
  left: 22%;
}
.next-icon {
  position: absolute;
  bottom: 16rem;
  left: 75%;
} */

.sliding-images {
  overflow: hidden;
  height: 35rem;
  width: 50rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6rem;
}
.sliding-images .image-slider {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.sliding-images .image-slider .imageslides {
  width: 20%;
  height: 35rem;
  float: left;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}



/* .sliding-images {
  overflow: hidden;
  height: auto;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.sliding-images .image-slider {
  display: flex;
  width: 100%;
  animation: 20s slider infinite;
}

.sliding-images .image-slider .imageslides {
  flex: 0 0 40rem;
  height: 35rem;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
} */


@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
}

.courses {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-bottom: 1px solid gray; */
  padding-bottom: 3rem;
  border-top: 2px solid rgba(219, 219, 219, 0.589);
}
.courses-cardContainer {
  max-width: 60rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.2rem;
  justify-content: center;
  align-items: center;
}
.courses-card {
  padding-bottom: 1rem;
  width: 25rem;
  height: 20rem;
  border-radius: 0.6rem;
  background-color: whitesmoke;
  /* transition: transform 0.1s ease-in-out; */
  position: relative;
}
.courses-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* transform: scale(1.02); */
}
.card-images {
  border-radius: 10px 10px 0 0;
  height: 13rem;
  width: 100%;
}
.text {
  padding-left: 0.3rem;
  padding-bottom: 0.4rem;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.text h4 {
  color: black;
  font-size: 0.9rem;
}

/* about page */
.about-navbar {
  background-color: #fff;
  height: 70px;
  /* background-image: url(girl-image.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}
.about-text {
  font-size: 2rem;
  text-align: center;
  margin-top: 5rem;
}
.about-division {
  max-width: 80rem;
  margin: auto;
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  margin-bottom: 3rem;
}
.about-images {
  border-radius: 0.2rem;
  object-fit: cover;
  width: 25rem;
  height: 15rem;
}
.about-info {
  width: 35rem;
  font-size: 1.3rem;
}
.calender {
  padding-bottom: 2rem;
  max-width: 80rem;
  margin: auto;
}
.calender-marquee {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.calender-event {
  width: 20rem;
  height: 10rem;
  border-radius: 3px;
  padding: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.icon-calender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.calender-icon {
  font-size: 1.5rem;
}
.footer {
  background-color: rgb(3, 3, 44);
  position: relative;
  bottom: 0;
  height: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialmedia-links {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}
input {
  display: block;
  width: 28rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 2px solid rgba(219, 219, 219, 0.589);
}
input:focus {
  outline: none;
  border: 2px solid #c0c0c0;
}
.form-section label {
  font-size: 1.2rem;
}
.message {
  padding: 3rem 1rem;
}
.submit-button,
.reset-button {
  padding: 0.9rem;
  width: 15rem;
  border-radius: 3px;
  background-color: green;
  font-size: 1.2rem;
  color: white;
  border: none;
  margin-bottom: 1rem;
}
.reset-button {
  background-color: red;
}
.gallery-img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
.gallery-images img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-gallery {
  max-width: 60rem;
  margin: auto;
  margin-top: 10rem;
}
.display-grid {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}
.display-grid:nth-child(3) {
  grid-column: span 2;
}
.display-grid:nth-child(5) {
  grid-row: span 2;
}
.display-grid:nth-child(9) {
  grid-column: span 2;
  grid-row: span 2;
}
.reference-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 3rem;
}
.reference-section {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.referees {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.reference-img img {
  height: 30rem;
  border-radius: 0.2rem;
  width: 25rem;
}
.text{
  padding: 1rem;
}
.date{
  padding-top: 0.8rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .intro-div {
    overflow-x: hidden;
  }
  .navbar {
    justify-content: space-between;
    overflow-x: hidden;
  }
  .links-ul {
    display: none;
  }
  .image {
    margin-left: 1rem;
  }
  .fabars {
    display: flex;
    margin-right: 1rem;
  }
.image{
  width: 3rem;
}
  .overlay {

    margin-left: 1rem;
    margin-top: 7rem;
  }
  .overlay-excerpt {
    width: 250px;
    justify-content: start;
    align-items: flex-start;
  }
  .name h2 {
    font-size: 2.5rem;
  }
  .overlay-excerpt h4 {
    font-size: 1rem;
  }
.overlay-image{
  display: none;
}
  .icons {
    display: none;
  }
  .courses-cardContainer {
    display: flex;
    flex-direction: column;
  }
  .courses-card {
    width: 19rem;
    height: 22rem;
  }
  .calender h1 {
    font-size: 1.1rem;
    text-align: center;
  }

  .show {
    display: block;
  }
  .sliding-images{
    overflow:hidden ;
    width: 28rem;
  }

  .sliding-images .image-slider {
    width: 250%;
    overflow-x: hidden;
  }
  .sliding-images .image-slider .imageslides {

    width: 50%;
  }
  .sliding-images{
    width: 30rem;
  }

.about-division{
  max-width: 30rem;
  margin-top: 9rem;
  flex-direction: column;
}
.about-images{
  width: 22rem;
  padding-top: 2rem;
  /* margin-top: 9rem; */
}
.about-text{
  font-size: 1.2rem;
}
.about-info{
  width: 22rem;
font-size: 1rem;
 margin:0 1rem 9rem 1rem;
}
.referees{
  flex-direction: column;
}
.reference-section{
  padding: 2rem;
}
.reference-img img{
  width:22rem ;
}
input{
  width: 20rem;
}
.form-section{
  align-items: center;
  padding-left: 1rem;
}
.form-btn{
  text-align: center;
}
}
